/*
  Fix for Chrome 33 Google Fonts issue:
  https://productforums.google.com/d/msg/chrome/elw8busIfJA/gzEttSn6r6AJ
 */
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes fontfix {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  margin-top: 0.5em;
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #d9d9d9; }
  a:active, a:focus {
    color: #d9d9d9;
    outline: none; }

hr {
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #eeeeee;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #eeeeee;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

code,
pre {
  font-family: "Inconsolata", Courier, monospace; }

fieldset {
  background: white;
  border: 1px solid #eeeeee;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #eeeeee;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #d4d4d4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(242, 242, 242, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #c8c8c8;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.default-ul, ol.default-ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  ul.default-ol, ol.default-ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  ul.inline li, ol.inline li {
    display: inline-block; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  padding: 0;
  margin: 0; }

pre {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  pre > * {
    -webkit-transform: translateZ(0px); }

.social {
  text-align: center; }
  .social li {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em; }

.highlight {
  padding: 0.5em 0;
  margin: 0 0 0.75em; }
  .dark .highlight {
    padding-left: 1em;
    padding-right: 1em; }
  .highlight pre {
    margin: 0; }

.big-banner {
  padding: 2em 0.5em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .big-banner {
      padding: 4em 1em; } }
  @media screen and (min-width: 53.75em) {
    .big-banner {
      padding: 4em 1em; } }
  .big-banner.tall {
    padding-top: 5em;
    padding-bottom: 5em; }
    @media screen and (min-width: 40em) {
      .big-banner.tall {
        padding-top: 8em;
        padding-bottom: 8em; } }
    @media screen and (min-width: 53.75em) {
      .big-banner.tall {
        padding-top: 10em;
        padding-bottom: 10em; } }

.large {
  font-size: 4em;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -0.04em;
  line-height: 1.0em;
  padding: 0 0.025em;
  margin-bottom: 0.1em; }
  @media screen and (min-width: 40em) {
    .large {
      font-size: 10em; } }
  @media screen and (min-width: 53.75em) {
    .large {
      font-size: 13em; } }

.medium {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #eeeeee;
  letter-spacing: -0.04em;
  line-height: 2.0em;
  padding: 0 0.025em; }
  @media screen and (min-width: 40em) {
    .medium {
      font-size: 2em; } }
  @media screen and (min-width: 53.75em) {
    .medium {
      font-size: 3em; } }

.shine {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.light {
  color: #3c3c3c; }
  .light.shine,
  .light .shine,
  .light .highlight {
    color: #f7f7f7; }

.dark {
  color: #bbbbbb;
  background: #333333; }
  .dark.shine,
  .dark .shine,
  .dark .highlight {
    color: #3c3c3c; }

/*
 * Hide dat.gui on mobile/tablet
 */
.dg.ac {
  display: none; }
  @media screen and (min-width: 40em) {
    .dg.ac {
      display: block; } }

.container {
  *zoom: 1;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 1em; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (min-width: 40em) {
    .container {
      padding: 2em; } }

.row {
  *zoom: 1;
  display: block; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

@media screen and (min-width: 40em) {
  .one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .one-half:last-child {
      margin-right: 0; } }

@media screen and (min-width: 40em) {
  .one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .one-third:last-child {
      margin-right: 0; } }

@media screen and (min-width: 40em) {
  .two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .two-thirds:last-child {
      margin-right: 0; } }

.text-center {
  text-center: center; }

@-webkit-keyframes button_slide {
  from {
    width: 0; }

  to {
    width: 100%; } }

@keyframes button_slide {
  from {
    width: 0; }

  to {
    width: 100%; } }
button,
input[type="submit"], .button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 1em;
  line-height: 1em;
  border-radius: 0.1875em;
  overflow: hidden;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: white;
  color: #333333; }
  button:after,
  input[type="submit"]:after, .button:after, button:before,
  input[type="submit"]:before, .button:before {
    content: '';
    overflow: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;
    -webkit-transition: width 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: width 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg); }
  button:after,
  input[type="submit"]:after, .button:after {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms; }
  button:hover,
  input[type="submit"]:hover, .button:hover {
    color: #333333; }
    button:hover:after,
    input[type="submit"]:hover:after, .button:hover:after, button:hover:before,
    input[type="submit"]:hover:before, .button:hover:before {
      width: 120%; }

/*
  dat.gui fix for border-box
 */
.dg.ac, .dg.ac * {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
