<!DOCTYPE html>
<html>
  <head>
    {% include meta.html title=page.title %}
    <script src="{{ site.baseurl }}/js/shine.min.js"></script>
  </head>
  <body>
    <div class="site-container">
      <header class="site-header">
        {% include site-header.html %}
      </header>
      <div class="site-content">
        {{ content }}
      </div>
      <footer class="site-footer container">
        {% include site-footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
