/*
  Fix for Chrome 33 Google Fonts issue:
  https://productforums.google.com/d/msg/chrome/elw8busIfJA/gzEttSn6r6AJ
 */
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}
