%button-outer {
  display: inline-block;
  margin: 0.25em 0;
  border-radius: 4px;

  font-weight: $heavy-font-weight;
  font-family: $sans-serif-condensed;
  background: $dark-gray;
}

%button-inner {
  display: inline-block;
  padding: 1em;
  line-height: 1em;
  text-transform: uppercase;
  color: white;

  &:hover {
    color: darken(white, 20%);
  }

  .dark & {
    background: white;
    color: $dark-gray;

    &:hover {
      color: lighten($dark-gray, 20%);
    }
  }
}

.button {
  @extend %button-outer;
  @extend %button-inner;
}
