<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% if include.title contains site.name %}
  <title>{{ include.title }}</title>
{% elsif include.title %}
  <title>{{ include.title }} | {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

<meta name="description" content="{{ site.description }}" />

<meta itemprop="name" content="{{ include.title }}">
<meta itemprop="description" content="{{ site.description }}">

<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="{{ include.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="{{ site.author.twitter }}">

<meta property="og:title" content="{{ include.title }}" />
<meta property="og:type" content="profile" />
<meta property="og:url" content="{{ site.author.homepage }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ include.title }}" />

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">


