* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

pre {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  & > * {
    -webkit-transform: translateZ(0px);
  }
}

.highlight {
  padding: 0.5em 0;
  margin: 0 0 ($base-line-height * .5);

  .dark & {
    padding-left: 1em;
    padding-right: 1em;
  }

  pre {
    margin: 0;
  }
}

.big-banner {
  padding: 2em 0.5em;
  text-align: center;

  @include media($medium-screen-up) {
    padding: 4em 1em;
  }
  @include media($large-screen-up) {
    padding: 4em 1em;
  }

  &.tall {
    padding-top: 5em;
    padding-bottom: 5em;

    @include media($medium-screen-up) {
      padding-top: 8em;
      padding-bottom: 8em;
    }
    @include media($large-screen-up) {
      padding-top: 10em;
      padding-bottom: 10em;
    }
  }
}

.large {
  font-size: 4.5em;
  font-weight: $heavy-font-weight;
  font-family: $sans-serif-condensed;

  letter-spacing: -0.04em;
  line-height: 1.0em;
  padding: 0 0.025em;
  margin-bottom: 0.1em;

  // text-transform: uppercase;

  @include media($medium-screen-up) {
    font-size: 10em;
  }
  @include media($large-screen-up) {
    font-size: 13em;
  }
}

.medium {
  font-size: 1em;
  font-family: $sans-serif-condensed;
  font-weight: $heavy-font-weight;
  color: $light-gray;

  letter-spacing: -0.04em;
  line-height: 2.0em;
  padding: 0 0.025em;

  @include media($medium-screen-up) {
    font-size: 2em;
  }
  @include media($large-screen-up) {
    font-size: 3em;
  }
}

.light {
  color: $offdark-gray;

  &.shine,
  .shine,
  .highlight {
    color: $offwhite;
  }
}

.dark {
  color: $base-body-color;
  background: $dark-gray;

  &.shine,
  .shine,
  .highlight {
    color: $offdark-gray;
  }
}
