$sans-stack: 'Droid Sans', sans-serif;
$mono-stack: 'Droid Sans Mono', Courier, monospace;

@mixin sans() {
  font-family: $sans-stack;
}
@mixin mono() {
  font-family: $mono-stack;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include sans();
}

header,
footer,
section {
  width: 100%;
  padding: 4em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  text-align: center;
}

.large {
  font-size: 8em;

  &.light {
    color: #fcfcfc;
  }

  &.dark {
    color: #3c3c3c;
  }
}
